.header {
  background: #fff;
  padding: 40px 0;
}

.header-wrapper,
.header__menu {
  display: flex;
  align-items: center;
}

.header-wrapper {
  justify-content: space-between;
}

.header__menu {
  gap: 64px;
}

.header__menu-search {
  width: 492px;
}

.header__menu-search input {
  width: 100%;
  background: #ffffff;
  border: 1px solid rgba(195, 212, 233, 0.4);
  border-radius: 70px;
  padding: 12px 0 12px 64px;
  background-image: url("../../assets/images/icons/search.svg");
  background-repeat: no-repeat;
  background-position: 20px 50%;
}

.header__menu-search input,
.header__menu-search input::placeholder {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: #3d5278;
}

.header__menu-search input:focus-visible {
  outline: transparent;
}

.header__buttons {
  margin: 0;
  display: flex;
  align-items: center;
  gap: 20px;
}

.header__buttons a {
  position: relative;
  width: 44px;
  height: 44px;
  opacity: 0.8;
  border: 1px solid rgba(195, 212, 233, 0.4);
  border-radius: 90px;
}

.header__buttons img,
.header__buttons svg {
  left: 10px;
  position: absolute;
  width: 24px;
  height: 24px;
  top: 10px;
}

.header__buttons svg {
  fill: #3d5278;
}

@media (max-width: 1080px) {
  .header__buttons a:not(:last-child) {
    display: none;
  }

  .header-wrapper {
    align-items: flex-start;
  }
  .header__menu {
    align-items: flex-start;
    width: 100%;
    flex-direction: column;
    gap: 32px;
  }

  .header__menu-search input {
    width: 95%;
  }

  .header__menu-search {
    width: 100%;
  }
}

@media (max-width: 400px) {
  .header__menu-search input {
    width: 90%;
  }
}
