.header,
.header__menu {
  display: flex;
  align-items: center;
}

.header {
  justify-content: space-between;
}

.header__menu-logo {
  font-weight: 700;
  font-size: 32px;
  align-items: center;
  letter-spacing: 1px;
  color: #3563e9;
  text-transform: uppercase;
}
