.form {
  padding-top: 32px;
}

.menu {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
}

.input {
  width: 386px;
}

.input label {
  display: block;
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 16px;
  color: #1a202c;
  text-transform: capitalize;
}

.input input,
.input select {
  width: 92%;
  background: #f6f7f9;
  border-radius: 10px;
  border: #f6f7f9;
  outline: none;
  padding: 16px 10px 16px 32px;
  font-weight: 700;
  font-size: 14px;
}

.input input::placeholder {
  font-weight: 400;
  font-size: 14px;
  color: #90a3bf;
}

.input select {
  color: #90a3bf;
  font-weight: 400;
  width: 100%;
}

.input option {
  color: #1a202c;
}

.additional {
  font-weight: 600;
  font-size: 16px;
  color: #1a202c;
  margin-bottom: 24px;
}

.additional-second {
  margin-top: 32px;
}

.pay {
  background: #f6f7f9;
  border-radius: 10px;
  padding: 24px;
}

.pay__title {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.pay__title-svg {
  display: flex;
  align-items: center;
  gap: 12px;
}

.pay-input input {
  background: #ffffff;
}
