.search {
  width: 492px;
  position: relative;
}

.search input {
  width: 100%;
  background: #ffffff;
  border: 1px solid rgba(195, 212, 233, 0.4);
  border-radius: 70px;
  padding: 12px 0 12px 64px;
  background-image: url("../assets/images/icons/search.svg");
  background-repeat: no-repeat;
  background-position: 20px 50%;
}

.search input,
.search input::placeholder {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: #3d5278;
}

.search input:focus-visible {
  outline: transparent;
}

.search-cars {
  position: absolute;
  width: 110%;
  top: 3rem;
  border: 1px solid rgba(195, 212, 233, 0.4);
  padding: 10px;
  border-radius: 10px;
  max-height: 200px;
  overflow: overlay;
  z-index: 1;
  background: #f6f7f9;
  display: flex;
  flex-direction: column;
}

.search-cars a {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  padding: 15px 0;
  font-size: 20px;
  color: #1a202c;
}

@media (max-width: 1080px) {
  .search input {
    width: 95%;
  }

  .search {
    width: 100%;
  }

  .search-cars {
    width: 90%;
    left: 6%;
  }
}

@media (max-width: 666px) {
  .search-cars a {
    font-size: 18px;
  }
}

@media (max-width: 400px) {
  .search input {
    width: 90%;
  }
}
