.card {
  background: #ffffff;
  border-radius: 10px;
  padding: 24px;
  position: relative;
  color: #90a3bf;
  height: 388px;
  max-width: 254px;
  width: 100%;
  padding: 24px;
  transition: all 0.25s ease-in-out;
}

.card:hover {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  transform: scale(1.035);
}

.button {
  position: absolute;
  background: transparent;
  border: none;
  right: 26px;
  top: 26px;
  cursor: pointer;
}

.active {
  fill: #ed3f3f;
}

.active path {
  stroke: #ed3f3f;
}

.card__info {
  display: flex;
  flex-direction: column;
  gap: 9px;
  margin-bottom: 64px;
}

.card__info-name {
  font-weight: 700;
  font-size: 20px;
  color: #1a202c;
}

.card__info-type {
  font-weight: 700;
  font-size: 14px;
}

.card-car {
  position: relative;
  text-align: center;
  margin-bottom: 64px;
}

.card-car div {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
  width: 100%;
  height: 68px;
  position: absolute;
  bottom: -27px;
}

.card__spec {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.card__spec div {
  display: flex;
  align-items: center;
  gap: 6px;
}

.card__spec div span {
  font-weight: 500;
  font-size: 14px;
}

.card__order {
  display: flex;
  justify-content: space-between;
}

.card__order-info {
  font-weight: 700;
  font-size: 14px;
}

.card__order-price {
  font-weight: 700;
  font-size: 20px;
  color: #1a202c;
}

.card__order-price span {
  color: #90a3bf;
  font-size: 14px;
}

.card__order-discount {
  text-decoration-line: line-through;
}

.card-link {
  padding: 10px 20px;
  background: #3563e9;
  border-radius: 4px;
  font-weight: 600;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
  color: #ffffff;
}

.card-link:hover {
  background: #1747d4;
}

.card-adapt {
  display: block;
}

@media (max-width: 666px) {
  .card {
    max-width: 100%;
    height: 280px;
    padding: 16px;
  }

  .card:hover {
    transform: none;
  }

  .card-adapt {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .card__spec {
    flex-direction: column;
    margin-bottom: 0;
    gap: 16px;
  }

  .card__spec div span {
    font-size: 12px;
  }
  .card__spec div img {
    width: 14px;
  }

  .card__info {
    margin-bottom: 32px;
  }

  .card-car {
    margin-bottom: 32px;
  }

  .card-car img {
    width: 100%;
  }

  .card-car div {
    bottom: -4px;
  }

  .card__order-price {
    font-size: 16px;
  }

  .card__order-price span {
    font-size: 12px;
  }

  .card-link {
    font-size: 12px;
    padding: 10px 16px;
  }
}
